.nav-wrapper {
  padding-left: 10px;
}

.custom-btn-icon {
  box-shadow: none;
  margin: 5px;
  background: transparent !important;
  &:disabled,
  &:disabled:hover {
    background: transparent !important;
  }

i {
    color: #000;
    font-size: 2rem;
  }

&:disabled i {
    color: #9f9f9f;
  }
}

table {
  table-layout: fixed;
  margin-bottom: 100px;
}

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tfoot > tr > td {
  padding: 10px;
  line-height: 1.429;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-primary-color {
  background: $button-primary-color !important;
}

.button-seconday-color {
  background: $button-secondary-color !important;
}

.changelog {
  h2 {
    font-size: 1.5rem;
  }

ul {
    padding: 0 0 0 50px;
  }

ul,
  li {
    list-style: disc;
  }
}