$primary-color: color("cyan", "base");
$primary-color-light: color("cyan", "lighten-4");
$primary-color-dark: color("cyan", "darken-2");
$button-primary-color: color("red", "base");
$button-secondary-color: color("cyan", "darken-2");